.attributeTable {
  height: calc(100vh - 4em);
  width: calc(100vw - 4em);
  max-width: 60em;
  max-height: 40em;
  font-size: 1rem;
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  border-radius: var(--border-radius);
  padding: 2em;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.attributeTable .modalDescription {
  margin: .5em 0 0 0;
}

.tableContainerContainer {
  flex-grow: 1;
  overflow: hidden;
}

.tableContainer {
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.tableContainer table {
  min-width: 100%;
  border-collapse: collapse;
  text-wrap: nowrap;
}

.tableContainer thead {
  position: sticky;
  top: 0;
  background-color: var(--bg-color-1);
  z-index: 10;
}

.tableContainer th {
  padding: 0;
}

.tableContainer thead::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  bottom: -1px;
  background-color: var(--text-color-1);
  position: absolute;
}

.tableContainer tbody td {
  padding: .3em 1em .3em 0;
}

.tableContainer tbody td:has(button),
.tableContainer thead th:first-child {
  padding: 0;
  position: sticky;
  left: 0;
  background-color: var(--bg-color-1);
}
.tableContainer thead th:first-child {
  z-index: 11;
}

tr.selected td:has(button) {
  background-color: var(--bg-color-2);
}

.tableContainer tbody button {
  background: none;
  padding: .3em 1em .3em 1em;
  display: flex;
  border: 0;
}

.tableContainer tbody tr.selected {
  background-color: var(--bg-color-2);
}

.tableContainer thead button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: .5em 0;
  text-align: left;
}

.tableContainer .selectAll {
  background: none;
  padding: .3em 1em .3em 1em;
  display: flex;
  border: 0;
}

.sortIcon {
  width: 1.2em;
  height: 1.2em;
  fill: var(--text-color-1);
  padding: 0 .7em 0 .3em;
}

.sortIcon svg {
  width: 100%;
  height: 100%;
}

.tableInputHeader {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.tableInputHeader > :first-child {
  flex-grow: 1;
}

.openFilterButton {
  padding: .2em 3em;
  display: flex;
  align-items: center;
  gap: .5em;
  border: .2em solid transparent;
}

.openFilterButton.active {
  border-color: var(--active-color);
}

.tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5em;
  margin-bottom: .5em;
}

.tableFooterRight {
  display: flex;
  align-items: center;
  gap: .5em;
}

.tablePagination {
  display: flex;
}

.tablePagination button {
  background: none;
  padding: .5em 0;
  display: flex;
  border: none;
}

.tablePagination button:disabled {
  opacity: 0.3;
}