.filterContainer {
  border: .1em solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: var(--border-radius);
  margin: .5em 0;
  /* box-shadow: 0 0 .4em rgba(0, 0, 0, 0.2); */
}

.filterSubContainer {
  max-height: 12em;
  overflow-y: auto;
  flex-shrink: 0;
  scrollbar-width: thin;
}

.filterHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .3em;
}

.filterHeader button {
  display: flex;
  align-items: center;
}

.filterConnector {
  display: flex;
  align-items: center;
  gap: .5em;
}

.filterContainer .filterConnector > .selectLayersContainer {
  width: 4em;
}

.filterContainer .filterConnector > .selectLayersContainer .selectListContainer {
  scrollbar-gutter: unset;
}

.filterRows {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.filterRow {
  display: flex;
  align-items: stretch;
}

.filterToggle.active {
  background-color: var(--active-color);
  color: black;
}

.filterRow > div {
  padding-block: .2em;
  border-radius: .2em;
}

.filterContainer .selectLayersContainer {
  width: 12em;
  display: inline-block;
  scrollbar-gutter: unset;
}


.filterRow .layerItem button {
  padding: 0;
}

.filterRow input[type="text"],
.filterRow input[type="number"] {
  box-sizing: border-box;
  padding: .2em 0;
  border: solid .1em var(--accent-color);
  border-radius: .2em;
  cursor: pointer;
  font-size: inherit;
  box-sizing: border-box;
  background: none;
}

.filterRow input[type="text"]:focus,
.filterRow input[type="number"]:focus {
  outline: none;
  border-color: var(--active-color);
}

.filterRow > button {
  display: flex;
  align-items: center;
  padding: 0 1em;
}