.colorPicker {
    position: relative;
}

.colorPickerButton {
    width: 2em;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.colorPickerButton svg {
    width: 100%;
    height: 100%;
    padding-top: 0.1em;
}
.polygonShrinker {
    padding: 0.1em;
    display: flex;
}

.colorPickerPopover {
    position: absolute;
    z-index: 2;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.7);
    border-radius: var(--border-radius);
    top: 100%;
    left: -50%;
}

div.react-colorful > :first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

div.react-colorful > :last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
