.layerList {
    padding: 0;
    margin: 0;
}

.layerListItem {
    list-style-type: none;
    margin: .5rem 0;
    padding: 0;
    cursor: grab;
    user-select: none;
    position: relative;
}

.layerListItem:active {
    cursor: grabbing;
}

