.layerItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: .2rem;
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  line-height: 2.6em;
}

.layerItemHelper { /* <span> that aligns li::marker */
  display: inline-block;
  height: 12px;
  margin-left: -.2rem; /* to counter the flex gap */
}

.layerItem button {
  background: none;
  padding: .2em;
  display: flex;
  align-items: center;
}


.layerItem:hover .layerMenu, /* show when hovering */
.layerMenu.open, /* show when menu is open */
.layerItem:has(input) .layerMenu { /* show when layerName is editing */
  display: block;
}

.layerMenu {
  position: relative;
  display: none;
}

.layerMenuPopover {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: -50%;
  text-wrap: nowrap;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.7);
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
  padding: var(--border-radius) 0;
  border-radius: var(--border-radius);
}

.layerMenuPopover > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.layerMenuPopover > ul > li {
  background-color: var(--bg-color-1);
}

.layerMenuPopover > ul button {
  width: 100%;
  padding: .5em;
  gap: .3rem;
  background-color: var(--bg-color-2);
  border-radius: 0;
} 
