.layerList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.layerListItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: grab;
    user-select: none;
    position: relative;
}

.layerListItem:active {
    cursor: grabbing;
}

