.selectItem {
  line-height: 2em;
  background-color: var(--bg-color-2);
  padding: 0 1em;
  cursor: pointer;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.selectItem:hover {
  opacity: 0.5;
}

.selectLayersContainer.select {
  scrollbar-gutter: unset;
}

.selectLayersContainer.select .selectedList {
  scrollbar-gutter: unset;
}

.selectLayersContainer.select .layerName {
  padding-left: 1em;
}