@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn .3s ease-in-out;
}

.modal {
    font-size: 1rem;
    background-color: #282c34;
    border-radius: .6em;
    padding: 2em;
    margin: 1em;
    width: 20em;
    overflow-y: auto;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3);
    position: relative;
}

.modal > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal.loading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: .4em solid #61dafb;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    z-index: 100;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}