.toolButton {
    display: flex;
    align-items: center;
    height: 100%;
}

.toolButton > svg {
    height: 100%;
    width: 100%;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn .3s ease-in-out;
}

.modal {
    font-size: 1rem;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    border-radius: var(--border-radius);
    padding: 2em;
    margin: 1em;
    width: 24em;
    overflow-y: auto;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3);
    position: relative;
    box-sizing: border-box;
    max-height: calc(100vh - 4em);
}

.modalCloseButton {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color-2);
    display: flex;
}

.modalHeader {
    display: flex;
    align-items: center;
    gap: .5em;
}

.modalHeader h3 {
    margin: 0;
}

.modalHeader > button {
    padding: 0;
    background: none;
    display: flex;
    align-items: center;
    border: none;
    width: 1.3em;
    position: relative;
    top: .1em;
}

.modalDescription {
    margin: -.5em 0 0 0;
    font-style: italic;
}

.modal > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal.loading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: .4em solid var(--active-color);
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    z-index: 100;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

input#outputLayerName {
    padding: .5em;
    border: .1em solid var(--accent-color);
    border-radius: var(--border-radius);
    position: relative;
    background: none;
}

input#outputLayerName:focus {
    outline: none;
    border-color: var(--active-color);
}

label[for="outputLayerName"],
.toolInputLabel {
    margin-bottom: -1em;
}

.toolNumberInput {
    padding: var(--border-radius) 0;
    border-radius: var(--border-radius);
    border: .1em solid var(--accent-color);
    font-size: 1em;
    background: none;
}
.toolNumberInput:focus {
    outline: none;
    border-color: var(--active-color);
}
