.layerNameContainer {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.layerNameContainer > div {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.layerNameContainer form input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
}