.layerListItem {
  list-style-type: decimal;
  margin: .5rem 0;
  padding: 0 .5rem 0 0;
}

.layerItem {
  display: flex;
  align-items: center;
}

.layerName {
  flex-grow: 1;
  overflow: hidden;
}

.layerMoveControls {
  display: flex;
  flex-direction: column;
}

.layerMoveControls > * {
  display: flex;
  padding: 0 .5rem;
  border: none;
  color: gray;
  transition: color .3s;
}
.layerMoveControls > *:hover {
  color: black;
}

.layerMenu {
  position: relative;
}

.layerMenuPopover {
  position: absolute;
  z-index: 2;
  top: 100%;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.7);
  background-color: white;
}

.layerMenuPopover > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
