.resizeHandle {
    font-size: .4rem;
    background: none;
    cursor: ew-resize;
    position: absolute;
    height: 100%;
    width: .5em;
    right: -.5em;
    bottom: 0;
    z-index: 10;
}
.resizeHandle.resizing {
    width: calc(var(--min-sidebar-width) * 2);
    right: calc(-1 * var(--min-sidebar-width));
    border-top: calc(var(--header-height)) solid transparent;
}
.resizeHandle::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1em;
    top: 0;
    left: -.5em;
    background-color: transparent;
    transition: background-color .2s ease;
    pointer-events: none;
}
.resizeHandle:hover::before {
    background-color: var(--accent-color);
    pointer-events: unset;
}
.resizeHandle.resizing::before {
    background-color: var(--active-color);
    left: calc(var(--min-sidebar-width) - .5em);
}

.sidebarContainer:not(.open) > .resizeHandle::before {
    width: 1.5em;
}