:root {
  --header-height: 4rem;
  --border-radius: 0.5rem;
  --min-sidebar-width: 15rem;
  --active-color: #61dafb;
}

[data-theme="dark"] {
  color-scheme: only dark;
  --bg-color-1: #1a1a1a;
  --bg-color-2: #282c34;
  --text-color-1: #ffffff;
  --text-color-2: #cccccc;
  --accent-color: #ffffff;
}

[data-theme="light"] {
  color-scheme: only light;
  --bg-color-1: #f0f0f0;
  --bg-color-2: #ffffff;
  --text-color-1: #000000;
  --text-color-2: #333333;
  --accent-color: #000000;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
  cursor: pointer;
  transition: opacity 0.25s;
}
button:hover {
  opacity: 0.5;
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
